{% extends "layout_minimal.html" if xhr else "layout.html" %}

{% block body %}
<p>{{ vehicle.name }}</p>

<ol class="selectable"> {# XXX: class abuse #}
	{% for loc in locations %}
	<li>
		{{ "drop off" if loop.index0 else "pick up" }}:
		{{ loc.name }}
	</li>
	{% endfor %}
</ol>

<form action="" method="post" class="formix">
	{% for loc in locations %}
		<input type="hidden" name="location" value="{{ loc.id }}">
	{% endfor %}
	<input type="hidden" name="vehicle" value="{{ vehicle.id }}">

	<label id="coupon" class="formix-sub" data-sub="coupon">
		discount code:
		<input type="text" name="coupon" value="{{ coupon if coupon }}">
		{% if coupon %}
		<p>sorry, but this discount code is invalid</p>
		{% endif %}
	</label>

	<label>
		referred by:
		<input type="search" name="referral">
	</label>

	<button type="submit" class="manual">reserve</button>
</form>
{% endblock %}
