{% extends "layout.html" %}

{% macro form_with_state(action, method, exclude_states=[]) %}
<form action="{{ action }}" method="{{ method }}"
		{% for key, value in kwargs.items() -%}
		{{ key }}="{{ value }}"
		{% endfor %}>
	{%- for name, ids in selection_state.items() -%}
		{% if name not in exclude_states %}
			{%- for id in ids -%}
			<input type="hidden" name="{{ name }}" value="{{ id }}">
			{% endfor %}
		{% endif %}
	{% endfor %}
	{{ caller() }}
	<button type="submit">select</button>
</form>
{% endmacro %}

{% block body %}
<main class="panes">
	{% call form_with_state("", "get", ["location"], id="locations",
			class="secondary-pane formix formix-sub",
			**{ "data-sub": "location" }) %}
		<h3>Locations</h3>
		<ul class="selectable">
			{% for loc in locations | sort(attribute="selected", reverse=True) %}
			<li>
				<label>
					{% if loc.selected %}
					<input type="checkbox" name="location" value="{{ loc.id }}"
							checked>
					{% else %}
					<input type="radio" name="location" value="{{ loc.id }}">
					{% endif %}
					{{ loc.name }}
				</label>
			</li>
			{% endfor %}
		</ul>
	{% endcall %}

	<div class="primary-pane">
		<div class="panes">
			<div id="vehicle-options" class="secondary-pane formix-sub"
					data-sub="location vehicle-class vehicle-extra">
				{% if vehicle_classes %}
				{% call form_with_state("", "get", ["vehicle-class"],
						class="formix") %}
					<h3>Category</h3>
					<ul class="selectable">
						{% for class in vehicle_classes | sort %}
						<li>
							<label>
								<input type="checkbox" name="vehicle-class"
										value="{{ class.id }}"
										{{ "checked" if class.selected }}>
								{{ class.name }}
							</label>
						</li>
						{% endfor %}
					</ul>
				{% endcall %}
				{% endif %}

				{% if vehicle_extras %}
				{% call form_with_state("", "get", ["vehicle-extra"],
						class="formix") %}
					<h3>Upgrades</h3>
					<ul class="selectable">
						{% for extra in vehicle_extras | sort %}
						<li>
							<label>
								<input type="checkbox" name="vehicle-extra"
										value="{{ extra.id }}"
										{{ "checked" if extra.selected }}>
								{{ extra.name }}
							</label>
						</li>
						{% endfor %}
					</ul>
				{% endcall %}
				{% endif %}
			</div>

			<div id="geo-view" class="primary-pane formix-sub"
					data-sub="location">
				<ol class="geo-coordinates">
					{% for loc in locations | selectattr("selected") %}
					<li>
						<a href="geo:{{ loc.coordinates | join(",") }}">{{ loc.name }}</a>
					</li>
					{% endfor %}
				</ol>
			</div>
		</div>

		{% call form_with_state("", "get", ["vehicle"], class="formix") %}
			<table id="vehicles" class="formix-sub"
					data-sub="location vehicle-class vehicle-extra">
				<thead>
					<tr>
						<th>Model</th>
						<th>Passengers</th>
						<th>Cost</th>
					</tr>
				</thead>
				<tbody>
					{% for vehicle in vehicles | sort(attribute="cost") %}
					<tr>
						<td>
							<label>
								<input type="radio" name="vehicle"
										value="{{ vehicle.id }}"
										{{ "checked" if vehicle.selected }}>
								{{ vehicle.name }}
							</label>
						</td>
						<td>{{ vehicle["passengers"] }}</td>
						<td>${{ "%0.2f" | format(vehicle.cost | float) }}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endcall %}
	</div>

	<div id="tally" class="auxiliary-pane formix-sub" data-sub="vehicle">
		{% if vehicle %}
		<h3>Total Cost</h3>
		<p>${{ vehicle.cost }}</p>
		<p>${{ (vehicle.cost / 12) | round(2) }} insurance fee</p>
		<hr>
		<p><strong>${{ (vehicle.cost + vehicle.cost / 12) | round(2) }}</strong></p>
		{% endif %}
	</div>
</main>
{% endblock %}
