{% extends "layout.html" %}

{% macro form_with_state(action, method, exclude_states=[]) %}
<form action="{{ action }}" method="{{ method }}"
		{% for key, value in kwargs.items() -%}
		{{ key }}="{{ value }}"
		{% endfor %}>
	{%- for name, ids in selection_state.items() -%}
		{% if name not in exclude_states %}
			{%- for id in ids -%}
			<input type="hidden" name="{{ name }}" value="{{ id }}">
			{% endfor %}
		{% endif %}
	{% endfor %}
	{{ caller() }}
</form>
{% endmacro %}

{% block body %}
<main class="panes">
	{% call form_with_state("", "get", ["location"], id="locations",
			class="secondary-pane") %}
		<h3>Locations</h3>
		<ul class="selectable">
			{% for loc in locations | sort(attribute="selected", reverse=True) %}
			<li>
				<label>
					{% if loc.selected %}
					<input type="checkbox" name="location" value="{{ loc.id }}"
							checked>
					{% else %}
					<input type="radio" name="location" value="{{ loc.id }}">
					{% endif %}
					{{ loc.name }}
				</label>
			</li>
			{% endfor %}
		</ul>
		<button type="submit">auswählen</button>
	{% endcall %}

	<div class="primary-pane">
		<div class="panes">
			<div id="vehicle-options" class="secondary-pane">
				{% if vehicle_classes %}
				{% call form_with_state("", "get", ["vehicle-class"]) %}
					<h3>Category</h3>
					<ul class="selectable">
						{% for class in vehicle_classes | sort %}
						<li>
							<label>
								<input type="checkbox" name="vehicle-class"
										value="{{ class.id }}"
										{{ "checked" if class.selected }}>
								{{ class.name }}
							</label>
						</li>
						{% endfor %}
					</ul>
					<button type="submit">auswählen</button>
				{% endcall %}
				{% endif %}

				{% if vehicle_extras %}
				{% call form_with_state("", "get", ["vehicle-extra"]) %}
					<h3>Upgrades</h3>
					<ul class="selectable">
						{% for extra in vehicle_extras | sort %}
						<li>
							<label>
								<input type="checkbox" name="vehicle-extra"
										value="{{ extra.id }}"
										{{ "checked" if extra.selected }}>
								{{ extra.name }}
							</label>
						</li>
						{% endfor %}
					</ul>
					<button type="submit">auswählen</button>
				{% endcall %}
				{% endif %}
			</div>

			<ol id="geo-coordinates" class="primary-pane">
				{% for loc in locations | selectattr("selected") %}
				<li>
					<a href="geo:{{ loc.coordinates | join(",") }}">{{ loc.name }}</a>
				</li>
				{% endfor %}
			</ol>
		</div>

		<table>
			<thead>
				<tr>
					<th>Model</th>
					<th>Passengers</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				{% for vehicle in vehicles | sort(attribute="cost") %}
				<tr>
					<td>
						<label>
							<input type="radio" name="vehicle"
									value="{{ vehicle["make"] }} {{ vehicle["model"] }}"> {# XXX: hacky #}
							{{ vehicle["make"] }} {{ vehicle["model"] }}
						</label>
					</td>
					<td>{{ vehicle["passengers"] }}</td>
					<td>{{ "%0.2f" | format(vehicle["cost"] | float) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<div id="tally" class="auxiliary-pane">
		128.64 USD
	</div>
</main>
{% endblock %}
