{% extends "layout.html" %}

{% block body %}
<main class="panes">
	<form action="" method="get" id="locations" class="secondary-pane">
		<h3>Locations</h3>
		<ul class="selectable">
			{% for loc in locations | sort(attribute="selected", reverse=True) %}
			<li>
				<label>
					{% if loc.selected %}
					<input type="checkbox" name="location" value="{{ loc.id }}"
							checked>
					{% else %}
					<input type="radio" name="location" value="{{ loc.id }}">
					{% endif %}
					{{ loc.name }}
				</label>
			</li>
			{% endfor %}
		</ul>
		<button type="submit">auswählen</button>
	</form>

	<div class="primary-pane">
		<div class="panes">
			<div id="vehicle-options" class="secondary-pane">
				{% if vehicle_classes %}
				<h3>Category</h3>
				<ul>
					{% for class in vehicle_classes | sort %}
					<li>{{ class }}</li>
					{% endfor %}
				</ul>
				{% endif %}

				{% if vehicle_extras %}
				<h3>Upgrades</h3>
				<ul>
					{% for extra in vehicle_extras | sort %}
					<li>{{ extra }}</li>
					{% endfor %}
				</ul>
				{% endif %}
			</div>

			<ol id="geo-coordinates" class="primary-pane">
				{% for loc in locations | selectattr("selected") %}
				<li>
					<a href="geo:{{ loc.coordinates | join(",") }}">{{ loc.name }}</a>
				</li>
				{% endfor %}
			</ol>
		</div>

		<table>
			<thead>
				<tr>
					<th>Model</th>
					<th>Passengers</th>
					<th>Cost</th>
				</tr>
			</thead>
			<tbody>
				{% for vehicle in vehicles | sort(attribute="cost") %}
				<tr>
					<td>
						<label>
							<input type="radio" name="vehicle"
									value="{{ vehicle["make"] }} {{ vehicle["model"] }}"> {# XXX: hacky #}
							{{ vehicle["make"] }} {{ vehicle["model"] }}
						</label>
					</td>
					<td>{{ vehicle["passengers"] }}</td>
					<td>{{ "%0.2f" | format(vehicle["cost"] | float) }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
	<div id="tally" class="auxiliary-pane">
		128.64 USD
	</div>
</main>
{% endblock %}
