body {
	font-family: sans-serif;
}

nav,
nav a,
footer,
footer a {
	color: #FFF;
}

nav,
footer {
	background-color: #000;
}

nav {
	padding: 0 0.5em;
}

footer {
	padding: 0.5em;
}

table {
	width: 100%;
	border-collapse: collapse;
}

thead th {
	padding: 0.5em;
	text-align: left;
}

thead tr,
tbody tr:nth-child(even) { /* XXX: insufficiently generic? */
	background-color: #EEE;
}

label { /* XXX: insufficiently generic? */
	cursor: pointer;
}

.omnibox {
	position: relative;
	float: right;
	width: 10em;
}

.suggestions {
	position: absolute;
	min-width: 100%;
	z-index: 9;
	background-color: #EEE;
}

.suggestions ul {
	padding-left: 0;
	list-style-type: none;
}

.suggestions,
.suggestions a {
	color: #000;
}

.selectable { /* TODO: rename */
	padding: 0;
	list-style-type: none;
}

label.fancy input {
	position: absolute;
	left: -9999em;
}

label.fancy.focused {
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
}

label.fancy:before {
	content: "◎";
}
label.fancy.selected:before {
	content: "◉";
}

.location:before,
.vehicle:before {
	content: "";
	display: inline-block;
	height: 21px;
}

.location:before {
	width: 12px;
	background-image: url("/static/img/map-marker.svg"); /* source: Font Awesome */
	background-size: 12px 21px;
}

.vehicle:before {
	width: 24px;
	background-image: url("/static/img/automobile.svg"); /* source: Font Awesome */
	background-size: 24px 21px;
}

#locations,
#vehicle-options,
#tally {
	background-color: #EEE;
}

/* full-height map */
#geo-view {
	display: flex;
}
#geo-view .geo-coordinates {
	flex: 1;
	margin: 0;
	padding: 0;
}
