body {
	font-family: sans-serif;
}

nav,
footer {
	color: #FFF;
	background-color: #000;
}

table {
	width: 100%;
}

thead th {
	text-align: left;
}

label { /* XXX: insufficiently generic? */
	cursor: pointer;
}

.selectable { /* TODO: rename */
	padding: 0;
	list-style-type: none;
}
